.home_service-container {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
  padding: 3rem 3rem;
}

.serv_img-container {
  position: relative;
  overflow: hidden;
}

.serv_img-container img {
  width: 100%;
  height: 40vh;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.527
  ); /* Adjust the alpha value to control transparency */
}

.servi-sectn-wrpr {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -50%;
  padding: 2rem;
  background: rgba(185, 26, 26, 0.507);
  height: 40vh;
  transition: 0.3s ease-out;
  gap: 0.1rem;
}

.servi-sectn-wrpr:hover {
  background: none;
}

.servi-sectn-wrpr h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
}

.servi-sectn-wrpr p {
  color: #ffffff;
  font-size: 17px;
}

.servi-sectn-wrpr button {
  width: 150px;
  height: 8vh;
  padding: 10px 10px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffff;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.servi-sectn-wrpr button:hover {
  background: var(--primary-color);
  border: none;
}

@media screen and (max-width: 1126px) {
  .servi-sectn-wrpr h4 {
    font-size: 19px;
    font-weight: 800;
  }

  .servi-sectn-wrpr p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .servi-sectn-wrpr {
    padding: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .home_service-container {
    display: flex;
    flex-direction: column;
  }

  .serv_img-container img {
    height: 40vh;
  }

  .servi-sectn-wrpr {
    background: rgba(185, 26, 26, 0.507);
    height: 20%;
    gap: 0rem;
    padding: 2rem 1rem;
  }

  .servi-sectn-wrpr:hover {
    background: var(--primary-color);
  }

  .overlay::before {
    display: none;
  }

  .servi-sectn-wrpr button:hover {
    background: #ffff;
    color: var(--primary-color);
  }

  .home_service-container {
    padding: 2rem 1rem;
    gap: 3rem;
  }
}

/* *********************************************************** */
/* Homepage container */

/* .hompage_banner {
  background: url(https://nzacksisecurity.co.za/wp-content/uploads/2019/07/Security-Guard-Services-Cape-Town-Nzacksi-Cape-Town-Security-Services-1024x512.jpg);
  background: url(https://www.bodyguards.com/Images/Services/Personal-Security-Mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  background-position: top;
  margin-top: -10rem;
}

.hm_main-wrappr {
  height: 90vh;
  background: rgba(0, 0, 0, 0.247);
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
}

.hompage_play {
  background: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 12rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hm_play {
  color: var(--primary-color);
  font-size: 2.7rem;
}

.reliable-rapwr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reliable-rapwr h1 {
  color: #ffffff;
  text-align: start;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.reliable-rapwr p {
  color: #ffffff;
  text-align: start;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.089);
  letter-spacing: 2px;
}

.reliable-rapwr button {
  width: 30%;
  padding: 1rem 2rem;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 15px;
}
.reliable-rapwr button:hover {
  background: rgb(184, 43, 43);
} */

/* *********************************************************** */
/* What we offer container */

.what-offr {
  background-image: url(../../assets/world.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whatOffr-wrappr {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -6rem;
}

.whatOffr-wrappr span {
  color: var(--primary-color);
  font-size: 20px;
  font-style: italic;
}

.whatOffr-wrappr h3 {
  color: black;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.whatOffr-wrappr p {
  font-size: 18px;
  width: 50%;
  font-weight: 600;
  color: black;
}

.servic_detail-containr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 3rem;
  gap: 2rem;
  padding-bottom: 5rem;
}

.personl_sevic-offer {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  gap: 0.9rem;
}

.offr_iconx {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.personl_sevic-offer h4 {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.personl_sevic-offer p {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.personl_sevic-offer button {
  position: relative;
  background: var(--primary-color);
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 800;
  transition: 0.3s ease;
}

.personl_sevic-offer button:hover {
  background: black;
  color: var(--primary-color);
}

/********************************************************************/
/* skill_section */
.skill_section {
  margin-top: 8rem;
  padding: 3rem 3rem;
  background: url(../../assets/ski.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.skill-expr_wrappr {
  background: #e668529f;
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 78%,
    80% 100%,
    20% 100%,
    0 100%,
    0% 20%
  );

  width: 33vw;

  margin-top: -20%;
}

.expernced_providing h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-equip_flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-equip_flow p {
  color: #ffff;
  font-size: 20px;
  font-weight: 200;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-box .title {
  display: block;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.skill-box .skill-bar {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgb(255, 255, 255);
}

.skill-box .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  border-radius: 6px;
  background: var(--primary-color);
  animation: progress 2.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.css {
  width: 80%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
  width: 90%;
  animation-delay: 0.2s;
}
/* 
.skill-per.nodejs{
  width: 40%;
  animation-delay: 0.3s;
} */
.skill-per.react {
  width: 99%;
  animation-delay: 0.3s;
}
.skill-per.expressjs {
  width: 75%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skil_percnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percnt {
  width: 50px;
  height: 50px;
  background: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 64%,
    76% 63%,
    75% 100%,
    43% 59%,
    0 59%
  );
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 800;
  font-size: 19px;
}

.percnt_numbr {
  position: relative;
  top: -0.5rem;
  left: 0.2rem;
}

/* *********************************************** */
/* professsiona team section */

.main_team-container {
  padding: 3rem 3rem;
  margin-top: 8rem;
}

.topteam_wrappr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.topteam_wrappr span {
  color: var(--primary-color);
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
}

.topteam_wrappr h1 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.topteam_wrappr p {
  width: 50%;
  font-size: 17px;
  font-weight: 400;
  color: gray;
  text-align: center;
}

.profess-team_containr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 4rem;
}

.prof_grid-team {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background: rgb(255, 255, 255);

  transition: 0.4s ease-in-out;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.507);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(34, 32, 32, 0.137);
  -moz-box-shadow: 4px 6px 5px 0px rgb(61, 58, 58);
}

.prof_grid-team h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}
.prof_grid-team span {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -0.5rem;
  color: var(--primary-color);
}

.pro_team_social {
  display: flex;
  gap: 1.3rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
}

.pro_team_social span {
  background: var(--primary-color);
  width: 2.2vw;
  height: 4.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease;
}
.pro_team_social span:hover {
  background: black;
}

.pro_team-icon {
  color: rgb(39, 38, 38);
  font-size: 1.3rem;
  transition: 0.4s ease;
}

.pro-img-wrappr img {
  width: 22vw;
  height: 40vh;
}

.pro_team_social span:hover .pro_team-icon {
  color: #fff;
}

.profes-temw {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.team-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.team-btn button {
  color: white;
  background: var(--primary-color);
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 14px;
}
.team-btn button:hover {
  background: rgba(255, 0, 0, 0.712);
}

/* --****************************************----- */
/* ********FAQ-SECTION********* */

.faq-hr_divid {
  padding: 3rem 4rem;
}
.faq-hr_divid hr {
  color: rgb(0, 0, 0);
}

.FAQ-SECTION {
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.faq-main_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-text-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.faq-text-div span {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
}

.faq-main_left h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.faq-main_left p {
  font-size: 16px;
  letter-spacing: 1px;
  color: gray;
}

.inquri_wrappr {
  background: rgba(128, 128, 128, 0.363);
  padding: 1rem 1.5rem;
}

.inquri_wrappr h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
}

.inquri_wrappr p {
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(104, 101, 101);
  font-weight: 400;
}

.inquri_wrappr button {
  /* padding: 0.8rem 2rem; */
  width: 50%;
  height: 8vh;
  text-transform: uppercase;
  background: none;
  border: 2px solid rgb(134, 5, 5);
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.4s ease;
}
.inquri_wrappr button:hover {
  background: var(--primary-color);
  border: none;
  color: rgb(255, 255, 255);
}

.faq-accordion-wrappr {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 90vh;
}

.faq-question_wrappr {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  /* justify-content: space-between; */
  border-bottom: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out; /* Apply a smooth transition to the rotation */
}

.faq-question_wrappr h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(51, 50, 50);
}

.faq-icon {
  font-size: 2rem;
  color: var(--primary-color);
  position: relative;
  top: -0.5rem;
}

.faq-answer{
background: whitesmoke;
padding: 1rem;
font-size: 15px;
letter-spacing: 1px;
color: gray;
}









.faq-icon {
  transition: transform 0.3s ease-in-out; /* Apply a smooth transition to the rotation */
}

.rotate-icon {
  transform: rotate(90deg);
}

.faq-question_wrappr1 {
  background: rgb(0, 0, 0);
}
.faq-question_wrappr1 h3 {
  color: white;
}
